{% extends "base.html" %}

{% block meta_keywords %}{{ super() }}, {{ article.keywords }}{% endblock meta_keywords %}
{% block meta_description_page %}{{ article.description }}{% endblock meta_description_page %}
{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<section role="main">
    <header class="hidden-sm" id="brand">
        <div class="container">
            <h1>
                {% if article.icon is defined %}
                <i class="{{ article.icon }} icon-large"></i>&nbsp;
                {% endif %}
                {{ article.title }}
            </h1>
            <h4>{{ article.subtitle }}</h4>
        </div>
    </header>
</section>

<section class="container" id="mainContent">
    <p><a href="/">&larr; Tous les articles</a></p>
    <h1>
        {% if article.icon is defined %}
        <i class="{{ article.icon }} icon-large"></i>&nbsp;
        {% endif %}
        {{ article.title }}
    </h1>
    <h6>{{ article.subtitle }}</h6>
    <article>
    {{ article.content }}

    {% if article.tags %}
        <p class="tags"><span>Etiquettes:&nbsp;</span>
        {% for tag in article.tags %}
        <span class="label label-default"><a class="label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
        {% endfor %}</p>
    {% endif %}

    {% include 'disqus.html' %}
    </article>
</section>

{% endblock %}
