{% extends "base.html" %}

{% block title %}{{ SITENAME }} | {{ article.title }}{% endblock title %}

{% block content %}
<section role="main">
    <header class="hidden-sm" id="brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {% if article.icon is defined %}
                        <i class="{{ article.icon }} icon-large"></i>&nbsp;
                        {% endif %}
                        &nbsp;{{ article.title }}
                    </h1>
                    <h4>{{ article.subtitle }}</h4>
                </div>
            </div>
        </div>
    </header>
</section>

{% include "social.html" %}

<section class="container" id="mainContent">
    <div class="row hidden-lg hidden-md">
        <div class="col-sm-12">
            <h1>
                {% if article.icon is defined %}
                <i class="{{ article.icon }} icon-large"></i>&nbsp;
                {% endif %}
                {{ article.title }}
            </h1>
            <h6>{{ article.subtitle }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 summary text-justify">
                    {{ article.summary }}
                </div>
            </div>
            <div class="row">
                <article class="col-md-12 text-justify">
                    {{ article.content }}
                    {% include 'disqus.html' %}
                </article>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
        <aside>
            {% include "recents.html" %}
            <h3>Tags</h3>
            {% include "tagcloud.html" %}
            <div>
            <br/>
            {% include "google-ad.html" %}
            </div>
        </aside>
        </div>
    </div>
</section>

{% endblock %}
