<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="{{ DEFAULT_LANG }}" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ DEFAULT_LANG }}" > <!--<![endif]-->

<head>
    {% block head %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/local.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:700,400,400italic|Ubuntu:500,300,300italic" rel="stylesheet" type="text/css">

    <script src="{{ SITEURL }}/theme/js/vendor/custom.modernizr.js"></script>
    {% endblock head %}
</head>
<body>

<nav class="container top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">{{ SITENAME }}</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
        <li {% if page_name=="index" %}class="active"{% endif %}><a href="{{ SITEURL }}"><i class="icon-home"></i></a></li>
        {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
                {% if "topbar-first" in page.section %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        <li class="has-dropdown"><a href="#">Blog</a>
            <ul class="dropdown">
            {% for cat,articles in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.display_name }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
                {% if "topbar-last" in page.section %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
{% block navbar_ext %}
{% endblock %}
</nav>

{% block content %}{% endblock %}

<section id="footer">
    <div class="row">
        <div class="large-8 large-centered columns">
            <ul class="inline-list">
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for page in PAGES %}
                        {% if "footer" in page.section %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</section>

{% include "analytics.html" %}

  <script>
  document.write('<script src={{ SITEURL }}/theme/' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>
</body>
</html>
