{% extends "base.html" %}

{% block content %}
<section role="main">
    <header class="hidden-sm" id="index">
        <div class="container">
            <h1><i class="fa {% block page_icon %}fa-file-text-o{% endblock page_icon %}"></i>
                &nbsp;{% block page_title %}{% endblock page_title %}</h1>
        </div>
    </header>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {% block page_header_content %}{% endblock page_header_content %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        {% block page_main_content %}{% endblock page_main_content %}
                    </div>
                    <aside class="col-sm-3 col-sm-offset-1">
                        {% block page_right_content %}
                        {% include "recents.html" %}
                        {% include "category_list.html" %}
                        {% include "tagcloud.html" %}
                        {% endblock page_right_content %}
                    </aside>
                </div>
                <div class="row">
                    <div class="col-sm-12 a-header">
                        {% block page_footer_content %}{% endblock page_footer_content %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
