{% extends "base.html" %}

{% block content %}

            <div id="primary">
                <div id="content" class="clearfix">
                    {% block main_content %}{% endblock %}
                </div><!-- #content -->
            </div><!-- #primary -->
            <div id="secondary">
                    {% block side_content %}{% endblock %}
                <aside id="recent-posts" class="widget widget_recent_entries">
                    <h3 class="widget-title"><span>Recent posts</span></h3>
                    {% include "widget_recents.html" %}
                </aside>
                <aside id="archives" class="widget widget_archive">
                    <h3 class="widget-title"><span>Archives</span></h3>
                    {% include "widget_archives.html" %}
                </aside>
                <aside id="categories" class="widget widget_categories">
                    <h3 class="widget-title"><span>Categories</span></h3>
                    {% include "widget_categories.html" %}
                </aside>
                <aside id="categories" class="widget widget_tag_cloud">
                    <h3 class="widget-title"><span>Tags</span></h3>
                    {% include "widget_tagcloud.html" %}
                </aside>
                <aside id="Ads" class="widget">
                    <h3 class="widget-title"><span>Ad by Google</span></h3>
                    {% include "google-ad.html" %}
                </aside>
            </div>  


{% endblock content %}
