{% extends "base_side.html" %}

{% block title %}Categories{% endblock title %}

{% block header_ext %}
        <div class="header-post-title-container clearfix">
            <div class="inner-wrap">
                <div class="post-title-wrapper">
                    <h1 class="header-post-title-class">Categories</h1>
                </div>
             </div>
        </div>
{% endblock header_ext %}


{% block main_content %}
<ul>
    {% for (c,a) in categories %}
        <li><a href="{{ SITEURL }}/{{ c.url }}" title="View all posts filed under {{ c.name }}">{{ c.name }}</a> ({{ a|length }})</li>
    {% endfor %}
</ul>
{% endblock main_content %}
