{% extends "base.html" %}

{% block title %}{{ category.display_name }}{% endblock title %}

{% block content %}
<section role="main">
    <header class="hide-for-small" id="brand">
        <div class="row">
            <div class="large-12 columns">
                <h1 class="hide-for-small">
                    <i class="icon-folder-open icon-large"></i>
                    &nbsp;{{ category.display_name }}
                </h1>
                {% if category.subtitle is defined %}
                    <h6 class="hide-for-small">{{ category.subtitle }}</h6>
                {% endif %}
            </div>
        </div>
    </header>
</section>

{% include "social.html" %}

<section id="mainContent">
    <div class="row show-for-small">
        <div class="large-12 columns">
            <h1>
                <i class="icon-folder-open icon-large"></i>
                    &nbsp;{{ category.display_name }}
            </h1>
            {% if category.subtitle is defined %}
                <h6>{{ category.subtitle }}</h6>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns text-justify entry">
            {% for article in dates|reverse %}
                <article>
                <h4 class="entry-title"><a href="{{ SITE_URL }}/{{ article.url }}">{{ article.title }}</a></h4>
                <p class="entry-info">
                    {{ article.date.strftime('%c') }}
                </p>
                {{ article.summary }}
                <p class="continue-reading">
                    <a href="{{ SITE_URL }}/{{ article.url }}">Read more <i class="icon-chevron-right"></i></a>
                </p>
                </article>
            {% endfor %}
        </div>
        <aside class="large-3 large-offset-1 columns">
            <h5>Recent articles</h5>
            <ul>
                {% for a in articles|sort(attribute='date')|batch(5)|first %}
                    <li><a href="{{ SITE_URL }}/{{ a.url }}">{{ a.title }}</a></li>
                {% endfor %}
            </ul>
            <h5>Tags</h5>
            <ul>
                {% for tag in tag_cloud %}
                <span class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></span>&nbsp;
    {% endfor %}
            </ul>
        </aside>
    </div>
</section>

{% endblock %}
