{% extends "base.html" %}

{% block content %}

<section role="main">
    <header class="hidden-sm" id="index">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><i class="icon-beer icon-2x"></i>
                    &nbsp;{{ SITENAME }}</h1>
                <h2 class="text-center">Homebrewing goes professional</h2>
            </div>
        </div>
    </header>
</section>

{% include "social.html" %}

<section class="container" id="mainContent">
    <div class="row hidden-lg hidden-md">
        <div class="col-sm-12">
            <h1 class="text-center">
                <i class="icon-beer"></i>
                    &nbsp;{{ SITENAME }}
            </h1>
            <h2 class="text-center">Homebrewing goes professional</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-justify">
            <div class="row">
                <div class="col-md-12 summary text-justify">
                    <p>Beerfactory provides open-source software and hardware for building a microbrewery automation system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    {% for page in PAGES|sort(attribute="order") %}
                        {% if "index" in page.section %}
                            <h4>
                                {% if page.icon is defined %}
                                    <i class="{{ page.icon }} icon-large"></i>&nbsp;
                                {% endif %}
                                <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
                            </h4>
                            {{ page.content }}
                        {% endif %}
                    {% endfor %}
                    <hr/>
                    <div class="text-center">
                        <a href="{{ SITEURL }}//pages/getting-started.html" class="btn btn-lg btn-beer">Get started&nbsp;<i class="icon-circle-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 text-right">
            {% include "google-ad.html" %}
        </div>
        <aside class="col-md-3 col-md-offset-1">
            {% include "news.html" %}
        </aside>
    </div>
</section>

{% endblock %}