{% extends "base.html" %}

{% block meta_keywords %}{{ super() }}, {{ page.title }}{% endblock meta_keywords %}
{% block meta_description_page %}{{ page.title }}{% endblock meta_description_page %}
{% block title %}{{ page.title }}{% endblock title %}

{% block body_class %}page page-template-default no-sidebar-full-width{% endblock %}
{% block header_ext %}
        <div class="header-post-title-container clearfix">
            <div class="inner-wrap">
                <div class="post-title-wrapper">
                    <h1 class="header-post-title-class">{{ page.title }}</h1>
                </div>
             </div>
        </div>
{% endblock header_ext %}

{% block content %}
            <div id="primary">
                <div id="content" class="clearfix">
                    <article class="page type-page">
                        <div class="entry-content">
    {% block page_content %}{{ page.content }}{% endblock page_content %}
                        </div>
                    </article>
                </div><!-- #content -->
            </div><!-- #primary -->
{% endblock %}
