{% extends "base.html" %}

{% block title %}{{ SITENAME }} | {{ page.title }}{% endblock title %}

{% block content %}
<section role="main">
    <header class="hidden-sm" id="brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                    {% if page.icon is defined %}
                    <i class="{{ page.icon }} icon-large"></i>&nbsp;
                    {% endif %}
                    {{ page.title }}
                </h1>
                <h4>{{ page.subtitle }}</h4>
                </div>
            </div>
        </div>
    </header>
</section>

{% include "social.html" %}

<section class="container" id="mainContent">
    <div class="row hidden-lg hidden-md">
        <div class="col-sm-12">
            <h1>
                {% if page.icon is defined %}
                <i class="{{ page.icon }} icon-large"></i>&nbsp;
                {% endif %}
                {{ page.title }}
            </h1>
            <h6>{{ page.subtitle }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-justify">
            <div class="row">
                <div class="col-md-12 summary text-justify">
                    {{ page.summary }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    {{ page.content }}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% include "google-ad.html" %}
        </div>
    </div>
</section>

{% endblock %}
