{% extends "base_side.html" %}

{% block title %}Archives de {{ period | reverse | join(' ') }}{% endblock title %}

{% block header_ext %}
        <div class="header-post-title-container clearfix">
            <div class="inner-wrap">
                <div class="post-title-wrapper">
                    <h1 class="header-post-title-class">Archives de {{ period | reverse | join(' ') }}</h1>
                </div>
             </div>
        </div>
{% endblock header_ext %}


{% block main_content %}
    {% set summary = 1 %}
    {% for article in dates %}
    {% include "_article_detail.html" %}
    {% endfor %}
{% endblock main_content %}
