<section id="social-buttons">
    <div class="row">
        <div class="large-12 columns">
            <ul class="inline-list">
                <li>
                    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=beerfactory&amp;type=follow&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="20px" kwframeid="2"></iframe>
                </li>
                <li>
                    <a href="https://twitter.com/BeerFactory_org" class="twitter-follow-button" data-show-count="false">Follow @BeerFactory_org</a>
                </li>
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="BeerFactory_org">Tweet</a></li>
            </ul>
        </div>
    </div>
</section>

<script src="http://platform.twitter.com/widgets.js"></script>