<section id="social-buttons">
    <div class="social">
        <ul class="social-button">
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=beerfactory&amp;type=follow&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="20px" kwframeid="2"></iframe>
            </li>
            <li>
                <a href="https://twitter.com/BeerFactory_org" class="twitter-follow-button" data-show-count="false">Follow @BeerFactory_org</a>
            </li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="BeerFactory_org">Tweet</a></li>
            <li><div class="g-plusone" data-size="small"></div></li>
        </ul>
    </div>
</section>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
