{% if tag_cloud %}
    <div class="tagcloud">
        {% for tag in tag_cloud|sort(attribute='0') %}
        	{% for t, a in tags %}
	        	{% if t == tag.0 %}
	        		<a href="{{ SITEURL }}/{{ tag.0.url }}" class="tag-{{ tag.1 }}" title="{{ a|length }} articles marqués par {{ tag.0 }}">{{ tag.0 }}</a>
	        	{% endif %}
	    	{% endfor %}
        {% endfor %}
    </div>
{% endif %}

<!-- 
{% if tag_cloud %}
    <h3>Tags</h3>
        {% for tag in tag_cloud %}
    		<a href="{{ SITEURL }}/{{ tag.0.url }}" title="Articles marqués par {{ tag.0 }}" class="tag-{{ tag.1 }}">{{ tag.0 }}</a>{% if not loop.last %}&nbsp;{% endif %}
        {% endfor %}</p>
{% endif %}

-->